.course-container{
    margin-top: 70px;
    background: rgb(235, 232, 232);
    background: rgb(241, 239, 239);
    display: flex;
    
}

.small-container{
   display: flex;
}
.row-course{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.course-col-21{
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.course-title h1{
    font-size: 35px;
    color: #010c24;
}

.course-categories{
    display: flex;
}

.course-categories p{
    padding: 5px 15px;
    border: 2px solid #05bd67;
    margin: 5px;
    color: #010c24;
    border-radius: 10px;
}

/* slider */
.splide{
    width: 650px;
    height: 400px;
    border-radius: 10px;
    margin: 25px 0px;
   
}
.splide__slide{
    width: 650px;
    border-radius: 10px;
     

}
.splide__slide iframe{
    border-radius: 15px;
    width: 650px;
    height: 400px;
    
}

.splide__slide img{
    width: 650px;
    height: 400px;
    border-radius: 15px;
}

.course-basic-box{
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    background: rgb(250, 249, 249);
    border-radius: 10px;
    padding: 5px;
    width: auto;
    background: linear-gradient(to right, rgb(114, 1, 63), rgb(74, 1, 116));
    background: radial-gradient(rgb(32, 1, 71),#010c24);
    border: none;
}
.course-basic-box-border{
    padding: 5px;
    
    /* border: 1px solid white; */
    border-radius: 10px;
}
.basic-box-col-3{
    margin: 4px 20px;
    align-items: center;
    padding: 5px;
    min-width: 120px;
    
    
}
.basic-box-t{
    color:rgb(97, 96, 96);
    font-size: 13px;
}
.basic-box-col-3 p{
    font-size: 14px;
   color:white;
}
.fa-laugh,.fa-clock, .fa-video, .fa-users,.fa-chart-bar, .fa-palette{
    color: #05bd67;
}

/* Slot colulmn */
.course-col-22{
    margin: 10px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    border-radius: 15px;
}
.course-slot-fix{
    position: sticky;
    top: 90px;
    width: 400px;
    background: white;
    margin-left: 30px;
}
.course-slot p{
    font-size: 20px;
    align-items: center;
    text-align: center;
    
}
.slot-date{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ededee;
    
    /* background: #02580244; */
    /* background: radial-gradient(rgb(32, 1, 71),#010c24); */
    color: black;
    border-radius: 10px;
    margin: 15px;
}

.slot-date-select{
    border: 1px solid #05bd67;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.slot-date-line{
    font-size: 16px;
    font-weight: 500;
}
.slot-time p{
    font-size: 16px;
}
.buy-now-btn .create-btn{
    background: radial-gradient(rgb(32, 1, 71),#010c24);
    color:#05bd67;
    align-items: center;
    text-align: center;

}
.create-btn a:hover{
    color:#05bd67;
}


/* about tutor */
.tutor-section{
    background:radial-gradient(rgb(32, 1, 71),#010c24);
    /* background: #ededee; */
    margin: 10px;
    /* border: 3px solid rgb(74, 3, 102); */
    border-radius: 15px;
    color: white;
    padding: 15px;
}
.tutor-section p{
    text-align: center;
    margin: 10px 0px;
    /* color: white; */
    font-size: 20px;
}

.tutor-profile-pic{
   margin-left: 130px;
    padding: 10px;
    align-items: center;   
}
.tutor-profile-pic img{
    width: 80px;
    border-radius: 50%;
    align-items: center;
    border: 2px solid #040281;
    padding: 2px;
    
}
.tutor-profile-pic :hover{
    border: 2px solid #05bd67;
    transition: ease-in;
}
.rating{
    color: rgb(206, 193, 12);
    text-align: center;
}
.tutor-name h4{
    text-align: center;
    color: white;
}
.tutor-name p{
    font-size: 12px;
}
.about-tutor p{
    padding: 10px;
    font-size: 14px;
}